* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    text-decoration: none;  
}
body {
    background: #bdc9ff;
}
body::-webkit-scrollbar {
    width: 0;
}
hr {
    margin: 20px auto;
    background: #020617;
    width: 80%;
    height: 2px;
    border: none;
}
header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(2, 6, 23, 0.7), rgba(2, 6,23, 0.7)), url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    margin: auto;
    /* padding: 10px 0px; */
    position: relative;
    overflow: hidden;
}

/* New Sheet */
.sub {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    width: 100%;
    /* height: 95vh; */
    padding: 10px 0;
}
nav {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 60px;
}
.menu {
    display: none;
}
nav ul {
    list-style: none;
    /* flex: 1;
    text-align: center; */
}
nav ul li {
    display: inline-block;
    /* padding: 0 15px; */
}
nav ul li a {
    /* font-size: 18px; */
    color: #faa123;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 50px;
    padding: 8px 16px;
    transition: 0.5s;
}
nav ul li a:hover {
    color: #faa123;
    background: #020617;
    font-weight: 700;
}
nav ul li a.active {
    color: #faa123;
    background: #020617;
    font-weight: 700;
}

nav button {
    padding: 8px 16px;
    letter-spacing: 1px;
    /* font-size: 18px; */
    font-weight: 600;
    color: #fff;
    background: #faa123;
    outline: 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}
nav button:hover {
    background: #020617;
    font-weight: 800;
}

.cover {
    width: 80%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto auto;
}
.cover .content {
    /* margin: 75px 35px 0 0; */
}
.cover h1 {
    font-size: 45px;
    letter-spacing: 1px;
}
.cover p {
    font-size: 20px;
    margin-top: 3px;
    letter-spacing: 1px;
    line-height: 2rem;
}
.cover span {
    color: #faa123;
    font-weight: 600;
}
.cover button {
    width: 25%;
    margin-top: 5px;
    margin-left: 5px;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;
    color: #020617;
    background: #faa123;
    outline: 0;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.cover button:hover {
    background: #020617;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 700;
}
.pic {
    width: 500px;
}



/* End of Sheet */

/* nav {
    background: linear-gradient(rgb(255, 255, 255, 0.2), rgb(255, 255, 255, 0.2));
    width: 100%;
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 60px;
}
nav ul {
    font-size: 16px;
    text-align: center;
}
nav ul li {
    list-style: none;
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    padding: 15px;
    color: #faa123;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.5s;
}
nav ul li a:hover {
    background: #020617;
    color: #fff;
    padding: 10px;
    font-weight: 800;
    border-radius: 15px;
}
nav button {
    padding: 8px 16px;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: #faa123;
    outline: 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}
nav button:hover {
    background: #020617;
    font-weight: 800;
}
.cover {
    margin-top: 7%;
    width: 80%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin: 50px auto auto;
}
.cover .content {
    margin: 75px 35px 0 0;
}
.cover h1 {
    font-size: 45px;
    letter-spacing: 1px;
}
.cover p {
    font-size: 20px;
    margin-top: 3px;
    letter-spacing: 1px;
}
.cover span {
    color: #faa123;
    font-weight: 600;
}
.cover button {
    margin-top: 5px;
    margin-left: 5px;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;
    color: #020617;
    background: #faa123;
    outline: 0;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.cover button:hover {
    background: #020617;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 700;
}
.pic {
    width: 450px;
} */
.skills {
    width: 90%;
    margin: 40px auto 0;
    text-align: center;
    color: #020617;
    /* background: linear-gradient(rgba(2, 6, 23, 0.3), rgba(2, 6,23, 0.3)), url(img/skill.jpg);
    background-position: center;
    background-size: cover; */
}
.skills h1 {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 3px 0;
    letter-spacing: 1px;
}
.skills h1 span {
    /* background: #020617; */
    color: #faa123;
    text-decoration: underline;
    text-decoration-color: #faa123;
    text-underline-offset: 3px;
}
.row {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.skill-col {
    margin: 20px 15px;
    padding: 15px 0;
    background: #bdc9ff;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
    transition: 0.5s;
}
.skill-col:hover {
    background: #020617;
    color: #faa123;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
}
.skill-col img {
    width: 40px;
    margin: 10px 0;
}
.skill-col h3 {
    margin: 5px;
}
.skill-col p {
    padding: 5px 10px;
    font-size: 14px;
}


.design {
    width: 100%;
    margin: 40px auto 0;
    text-align: center;
    color: #020617;
    /* background: ; */
}
.design h1 {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 3px 0;
    letter-spacing: 1px;
}
.design h2 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 2px 0;
    letter-spacing: 1px;
}
.design h1 span {
    /* background: #020617; */
    color: #faa123;
    text-decoration: underline;
    text-decoration-color: #faa123;
    text-underline-offset: 3px;
}
/* .design .row {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
} */
.design-col {
    margin: 20px 15px;
    /* padding: 15px 0; */
    background: #bdc9ff;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
    transition: 0.5s;
}
.design-col:hover {
    background: #020617;
    color: #bdc9ff;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
}
.design-col img {
    width: 100%;
    margin-bottom: 10px;
}
/* .design-col img:hover {
    border: 1px solid #faa123;
} */
.design-col h3 {
    margin: 5px;
}
.design-col p {
    padding: 15px 10px;
    font-size: 14px;
    line-height: 1.5rem;
}
.design-col p span {
    font-weight: 700;
}


.contact {
    width: 100%;
    margin: 40px auto 0;
    text-align: center;
    color: #faa123;
    background: #020617;
    padding: 15px;
}
.contact h1 {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.contact .row {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.contact-col {
    flex-basis: 48%;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.contact-col div {
    width: 95%;
    display: flex;
    align-items: center;
    margin: 18px auto;
}
.contact-col img {
    width: 30px;
    cursor: pointer;
}
.contact-col div p {
    font-size: 18px;
    margin: auto 0 auto 10px;
    padding: 8px 4px;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: left;
}
.contact-col input, .contact-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    outline: none;
    border: 1px solid #faa123;
    background: transparent;
    color: #faa123;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}
::placeholder {
    color: #888;
    font-weight: 300;
}
.send {
    width: 100%;
    /* margin-top: 5px; */
    /* margin-left: 5px; */
    padding: 10px;
    letter-spacing: 1px;
    font-size: 18px;
    /* font-weight: 500; */
    color: #fff;
    background: transparent;
    outline: 0;
    border: 1px solid #faa123;
    cursor: pointer;
    transition: 0.5s;
}
.send:hover {
    background: #faa123;
    color: #020617;
    border: none;
    font-weight: 600;
}


.socials {
    width: 100%;
    /* text-align: center; */
    /* margin: auto; */
    padding: 0 20px 20px;
    /* background: #020617; */
}
.social-col {
    /* margin: 20px 15px;
    padding: 15px 0;
    background: #bdc9ff;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
    transition: 0.5s; */

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.social-col img {
    width: 25px;
    cursor: pointer;
    margin: 0 5px;
    /* padding: 20px; */
}
.social-col p {
    font-size: 16px;
    padding-bottom: 5px;
    font-weight: 600;
}
/* footer {
    background: #faa123;
    width: 100%;
    margin: auto;
    padding: 10px;
}
.socials {
    width: 80%;
    margin: auto;
    display: flex;
    /* align-items: center; */
    /* justify-content: center;
}
footer .icons img {
    width: 25px;
    margin: 15px 10px;
}
footer p {
    margin: 15px 0;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 500;
}  */


@media (max-width:768px) {
    nav {
        width: 90%;
        padding: 5px;
    }

    /* Menu Icon */
    .menu {
        display: block;
        cursor: pointer;
    }
    .menu .line {
        width: 30px;
        height: 5px;
        background: #faa123;
        margin: 5px 0;
    }
    nav ul {
        /* font-size: 14px;
        margin: 5px auto; */
        text-align: center;
        height: 0;
        position: absolute;
        /* padding: 10px 0; */
        top: 68px;
        left: 0;
        right: 0;
        width: 100vw;
        background: rgba(1, 4, 17, 0.9);
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
        transition: 0.8s;
        overflow: hidden;
    }
    nav ul.open {
        height: 300px;
    }
    nav ul li {
        display: block;
        margin: 30px auto 0 auto;
        width: fit-content;
        opacity: 0;
    }
    nav ul.open li {
        opacity: 1;
    }
    nav ul li a {
        /* padding: 15px; */
        margin-bottom: 12px;
    }
    nav button {
        /* font-size: 14px;
        display: none; */
        margin: 30px auto 0 auto;
        text-align: center;
        width: fit-content;
    }
    .cover {
        width: 90%;
        flex-wrap: wrap;
        /* flex-direction: column; */
        justify-content: center;
        margin: 50px auto 0;
    }
    .cover .content {
        margin: 40px auto;
        text-align: center;
    }
    .cover h1 {
        font-size: 50px;
    }
    .cover p {
        font-size: 30px;
        line-height: 2.5rem;
        /* max-width: 240px; */
        margin: 10px auto;
    }
    .cover button {
        width: 70%;
        font-size: 25px;
        padding: 10px 6px;
        text-align: center;
        margin: 5px auto 0;
    }
    .pic {
        display: none;
    }
    .row {
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
    .skill-col {
        background: #020617;
        color: #faa123;
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
    }
    .contact-col img {
        width: 24px;
    }
    .contact-col div p {
        font-size: 11px;
    }
    .social-col img {
        width: 24px;
    }
}


@media screen and (max-width: 401px){
    .cover {
        margin: 10px auto 0;
    }
    .cover h1 {
        font-size: 25px;
    }
    .pic {
        width: 250px;
        display: none;
    }
}